 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	<p style="text-align:center;" class="small"><a href="http://dml2015.dmlhub.net/event/12589-panel-ol-the-open-show-connected-learning-without-expensive-acronyms/?instance_id=736" target="_blank"><em>DML 2015 Session Description</em></a></p>
                
                
                   <p>With its own history and inherent decentralized design, the internet ought to be the truly equitable participatory platform, one that will not be just another television. Yet potential is never guaranteed by technological design; the nervous system does produce our human character. Today's technological solutionism prevents us from seeing what <a href="http://www.marshallmcluhan.com/" target="_blank">McLuhan</a> recognized: <a href="http://enculturation.net/teaching-mcluhan" target="_blank">technologies are extensions of people</a> (he said "man") — "tools that extend human bodies and capacities." A learning ecosystem that is unbounded and distributed, that makes mistakes and corrections, that evolves through participation — that learning ecosystem is one that ought to extend our human capacities.</p>
                
                
                    <p>This show brings together the experiences of people who have been immersed in open learning via designs that mimic the distributed/connected network of the internet itself, where the fundamental organizing units are the students/participants, learners who manage their own digital spaces.</p>  
                
                <div align="center">
                	<a href="http://commons.wikimedia.org/wiki/File:Decentralization.jpg#/media/File:Decentralization.jpg"><img class="img-responsive" src="img/network.png" alt="Decentralization by Adam Aladdin Licensed under CC BY-SA 3.0 via Wikimedia Commons"></a>
                </div>
 
                  
                <p>The course then becomes one of many spaces fueled by the flow of individual actions. When we shift the locus of learning outside of an institutional platform, students gain agency over their experiences, something that meshes with the larger world they operate in beyond school.</p>
                
                
                <div align="center">
                    <a title="Todd Conaway Another Easy Button" href="http://flickr.com/photos/cogdog/12166995095"><img src="http://farm8.static.flickr.com/7451/12166995095_b70a4e9da0.jpg" /></a><br /><small><a title="Todd Conaway Another Easy Button" href="http://flickr.com/photos/cogdog/12166995095">flickr photo</a> shared by <a href="http://flickr.com/people/cogdog">cogdogblog</a> under a <a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons ( BY-SA ) license</a> </small>
                </div>
    
                    <p>There is no single easy button template driven platform to build these kinds of environments, yet they are eminently achievable with open source or free tools running on the open web; millions of dollars of funding is not required. These are a mix and remix of both old and new technologies, co-mingling emergent ones with what <a href="http://blog.jonudell.net/2013/10/11/moocs-need-to-be-user-innovation-toolkits/">Jon Udell describes as trailing-edge ones</a>.</p>
                    
                    
                    <p>We bring together practitioners who are crafting such spaces via platforms such as Wordpress / RSS (<a href="http://ds106.us/" target="_blank">ds106</a>, <a href="http://connectedcourses.net/" target="_blank">Connected Courses</a>), the IndieWeb (<a href="http://withknown.com/" target="_blank">Known</a>), and patchworks of existing platforms (e.g. Google apps + Inoreader, Wordpress) and how they can even work together. Rather than a series of presentations, this session will be run more like a talk show. The tools features are not the primary subject of the conversations; panelists will use their these designs as a way to provide references and an audience experience. Instead, we will focus on how these networked structures break learning out of the boundaries of institution, geography, and social standing while also facing up the challenges of isolation and non-inclusion: </p>

<ul>
	<li>How do different types of web publishing platforms help students and instructors interact online as colearners? </li>
	<li>How do we better recognize and address where open learning inadvertently backfires, excluding or silencing individuals?</li>
	<li>How can aggregation and syndication tools spread student-created content through the course ecosystem and beyond?</li>
</ul>

            </div>
        </div>

            </div>
        
    </section>