 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <ul class="list-inline item-details">
                                <li>Since:
                                    <strong>{{ post.project-date }}</strong>
                                </li>
                                <li>Platform:
                                    <strong>{{ post.platform }}</strong>
                                </li>
                            </ul>
                            <h3>Examples</h3>
                           	{{ post.examples }}
                         </div>
                         <div style="text-align:left;">  
						 <h4>What it is? (~1 tweet length)</h4>
						 {{ post.what }}
						 <h4>How this Creates a Connected Learning Environment (~2 tweets length)</h4> 
						 {{ post.how }}
						 <h4>How This Demonstrates Equity By Design?</h4> 
						 {{ post.equity }}
						 <h4>The Origin Story</h4> 
						 {{ post.origin }}
						 <h4>Demo Links</h4> 
						 {{ post.demo }}
						<h4>Front Stage Demo (what it looks like to the public)</h4> 
						{{ post.frontstage }}
						<h4>Back Stage Demo (what it looks like to manage)</h4> 
						{{ post.backstage }}
						<h4>Technologies and Costs</h4> 
						{{ post.tech }}
						<h4>Skill Levels Required</h4> 
						{{ post.skill }}
						<h4>Examples</h4> 
						{{ post.examplelist }}					
						<h4>Guides, Resources, Tutorials</h4>
						{{ post.guides }}	
						<h4>Challenges</h4> 
						{{ post.challenges }}
                          </div>
                           
                            <div class="modal-body"> 
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}