 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <ul class="list-inline item-details">
                                <li>Since:
                                    <strong>{{ post.project-date }}</strong>
                                </li>
                                <li>Platform:
                                    <strong>{{ post.platform }}</strong>
                                </li>
                            </ul>
                            <h3>Examples</h3>
                           	{{ post.examples }}
                         </div>
                         <div style="text-align:left;">  
						 <h4 style="margin-top:2em">What it is?</h4>
						 <p><em>(~1 tweet length)</em></p>
						 {{ post.what }}
						 <h4 style="margin-top:2em">How this Creates a Connected Learning Environment</h4>
						 <p><em>(~2 tweets length)</em></p> 
						 {{ post.how }}
						 <h4 style="margin-top:2em">How This Demonstrates Equity By Design?</h4>
						<p><em>(DML 2015 conference theme)</em></p>
						 {{ post.equity }}
						 <h4 style="margin-top:2em">The Origin Story</h4> 
						 <p><em>(How this concept developed)</em></p>
						 {{ post.origin }}

						<h4 style="margin-top:2em">Front Stage / Back Stage Screencasts</h4> 
						<p><em>(what it looks like to the public / what it looks like to manage)</em></p>
						
						{{ post.frontstage }}
						{{ post.backstage }}
						
						<h4 style="margin-top:2em">Examples</h4> 
						{{ post.examplelist }}	
						<h4 style="margin-top:2em">Challenges</h4> 
						{{ post.challenges }}												
						<h4 style="margin-top:2em">Technologies and Costs</h4> 
						{{ post.tech }}
						<h4 style="margin-top:2em">Skill Levels Required</h4> 
						{{ post.skills }}
						<h4 style="margin-top:2em">Guides, Resources, Tutorials</h4>
						{{ post.guides }}	

                          </div>
                           
                            <div class="modal-body"> 
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}