<!-- Contact Section -->
<section id="more">
	<div class="container">
		<div class="row">
            	<div class="col-lg-12 text-center">
                    <h2>More on Connected Learning</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <p class="small"><a href="http://connectedlearning.tv/infographic"><img src="http://connectedlearning.tv/sites/connectedlearning.tv/files/DG_Macarthur_r03-960_0.jpeg" alt="Connected Learning" class="img-responsive" title="Connected Learning"></a><br />image credit: creative commons licensed image from <a href="http://connectedlearning.tv/infographic" target="_blank">Connected Learning Research Network and Digital Media & Learning Research Hub</a></p>
                
                <ul>
                	<li><strong><a href="http://connectedlearning.tv/" target="_blank">Connected Learning</a></strong> (DML) "Connected Learning is an educational approach designed for our ever-changing world. It makes learning relevant to all populations, to real life and real work, and to the realities of the digital age, where the demand for learning never stops."</li>
                	
                	<li><strong><a href="http://connectedlearning.tv/frequently-asked-questions" target="_blank">Connected Learning FAQ</a></strong> (DML) "These FAQs are designed to help you better understand the thinking and research behind the connected learning model."</li>
                	<li><strong><a href="http://connectedcourses.net/" target="_blank">Connected Courses</a></strong> (DML) "The goal for Connected Courses is to build an inclusive and expansive network of teachers and students, and provide educational offerings that make high quality, meaningful, and socially connected learning available to everyone. The go-at-your-own-pace collaborative course is free and open to all" (first offered from September 2 to December 12, 2014).</li>
                	<li><strong><a href="http://connectedcourses.net/courses/" target="_blank">Connected Courses Catalog</a></strong> (Connectedcourses.net)</li>
                	<li><strong><a href="http://campustechnology.com/articles/2015/05/27/why-blogging-is-key-to-the-future-of-higher-ed.aspx" target="_blank">Why Blogging Is Key to the Future of Higher Ed</a></strong> (Campus Technology) "A massive experiment at Virginia Commonwealth University involving 7,000 blogs could lead to a new view on how college students learn."</li>
                	<li><strong><a href="https://docs.google.com/document/d/1t7MIOOUl87Ib1JD0s4aXGUkMBQlJGMxm6oZDrE00DgM/edit" target="_blank">Distributed/Connected/Syndicated Course Examples</a> </strong> (Open Google Doc)</li>
                	</ul>
                </div>
		</div>
	</div>
</section>
