<!-- Contact Section -->
<section id="more">
	<div class="container">
		<div class="row">
            	<div class="col-lg-12 text-center">
                    <h2>More Info on Connected Learning</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                 <p class="small"><img src="img/connected-learning.jpg" alt="Connected Learning" class="img-responsive" title="Connected Learning"><br /><em>Image credit: creative commons licensed image from Connected Learning Research Network and Digital Media & Learning Research Hub</em></p>
                
                <ul>
                	<li><strong><a href="http://clalliance.org/why-connected-learning/" target="_blank">What is Connected Learning</a></strong> "Connected learning is when someone is pursuing a personal interest with the support of peers, mentors and caring adults, and in ways that open up opportunities for them. It is a fundamentally different mode of learning than education centered on fixed subjects, one-to-many instruction, and standardized testing. " from the <a href="http://clalliance.org" target="_blank">Connected Learning Alliance</a></li>

					<li><strong><a href="http://educatorinnovator.org/practicing-the-principles-of-connected-learning/" target="_blank">Practicing the Principles of Connected Learning</a>New media educator Howard Rheingold interviews educator Kevin Hodgson about connected learning and how educators enact its principles with technology.</li>

                	<li><strong><a href="http://connectedcourses.net/" target="_blank">Connected Courses</a></strong> (DML) "The goal for Connected Courses is to build an inclusive and expansive network of teachers and students, and provide educational offerings that make high quality, meaningful, and socially connected learning available to everyone. The go-at-your-own-pace collaborative course is free and open to all" (first offered from September 2 to December 12, 2014).</li>
                	<li><strong><a href="http://connectedcourses.net/courses/" target="_blank">Connected Courses Catalog</a></strong> (Connectedcourses.net)</li>
                	<li><strong><a href="http://campustechnology.com/articles/2015/05/27/why-blogging-is-key-to-the-future-of-higher-ed.aspx" target="_blank">Why Blogging Is Key to the Future of Higher Ed</a></strong> (Campus Technology) "A massive experiment at Virginia Commonwealth University involving 7,000 blogs could lead to a new view on how college students learn."</li>
                	<li><strong><a href="https://docs.google.com/document/d/1t7MIOOUl87Ib1JD0s4aXGUkMBQlJGMxm6oZDrE00DgM/edit" target="_blank">Distributed/Connected/Syndicated Course Examples</a> </strong> (Open Google Doc)</li>
                	</ul>
                </div>
		</div>
	</div>
</section>
